@use "./base.scss";

// adding blaze

.blaze {
  display: block;
  margin: 2rem auto;
}

.blaze-dark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .blaze-light {
    display: none;
  }

  .blaze-dark {
    display: block;
  }
}

html[saved-theme="light"] .blaze-dark {
  display: none;
}

html[saved-theme="dark"] .blaze-light {
  display: none;
}

.blaze {
  display: block;
  margin: 2rem auto;
}

footer {
  text-align: center;
}

// adding a gradient background

html {
  min-height: 100vh;
}

html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  background-color: transparent !important;
  background-image:
    radial-gradient(ellipse at top, var(--bg-top), transparent),
    radial-gradient(ellipse at bottom, var(--bg-bottom), transparent);
  background-attachment: fixed;
  background-blend-mode: darken;
  background-size: 100% 100%;
}

// aligning webring icon

.inline-icon img {
  display: inline-block;
  vertical-align: -1.025em;
}

// improving scaling of reader icon

.readerIcon {
  width: 20px;
  height: 20px;
}

// styling scrollbar

body {
    scrollbar-color: var(--lightgray) var(--light); /* thumb, track */
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--light); 
}
body::-webkit-scrollbar-thumb {
    background-color: var(--lightgray); 
}

// making mobile title text a little smaller

@media all and (max-width: 600px) {
  .sidebar.left {
    & .page-title {
      font-size: 1.4rem !important; 
      margin: 0;
    }
    
    & .page-title a {
      font-size: 1.4rem !important; 
    }
  }
}

// making footnotes header less prominent

.footnotes {
  margin-top: 2rem;
  border-top: 1px solid var(--lightgray);
  & > h2, 
  & > #footnote-label {
    font-size: 1.1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}